.main{
    padding: 10px 0px 10px 0px;
    text-align: center;
    background-color: rgb(71, 14, 97);
}
.sec{
    width: 100%;
    text-align: center;
}
h4{
    background-color: rgb(170, 194, 170);
    color: aliceblue;
}
